In [145]:
import json
import pandas as pd
import os

# Class to represent a single cricket match
class CricketMatch:
    def __init__(self,  season, city, venue, date, match_type, match_type_number,teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, winner, player_of_match, target, innings):
        self.season = season
        self.city = city
        self.venue = venue
        self.date = date
        self.match_type = match_type
        self.match_type_number = match_type_number
        self.teams = teams
        self.toss_winner = toss_winner
        self.toss_decision = toss_decision
        self.outcome_by_runs = outcome_by_runs
        self.outcome_by_wickets = outcome_by_wickets
        self.winner = winner
        self.player_of_match = player_of_match
        self.target = target
        self.innings = innings  

    def to_dict(self):
        
        return {
            'season': self.season,
            'city': self.city,
            'venue': self.venue,
            'date': self.date,
            'match_type': self.match_type,
            'match_type_number': self.match_type_number,
            'teams': ', '.join(self.teams),
            'toss_winner': self.toss_winner,
            'toss_decision': self.toss_decision,
            'outcome_by_runs': self.outcome_by_runs,
            'outcome_by_wickets': self.outcome_by_wickets,
            'winner' : self.winner,
            'player_of_match': ', '.join(self.player_of_match),
            'target': self.target
        }

    def innings_to_dict(self):
        # Convert the innings data into a list of dictionaries for each delivery
        innings_data = []
        for inning in self.innings:
            team = inning['team']
            for over in inning['overs']:
                for delivery in over['deliveries']:
                    innings_data.append({
                        'season': self.season,
                        'match_type_number': self.match_type_number,
                        'team': team,
                        'over': over['over'],
                        'batter': delivery['batter'],
                        'bowler': delivery['bowler'],
                        'runs_batter': delivery['runs'].get('batter', 0),
                        'runs_extras': delivery['runs'].get('extras', 0),
                        'runs_total': delivery['runs'].get('total', 0),
                        'non_striker': delivery['non_striker'],
                    })
        return innings_data

In [146]:
class CricketDataLoader:
    def __init__(self, folder_path):
        self.folder_path = folder_path
        self.matches = []

    def load_data(self):
        # Check if the folder exists
        if not os.path.exists(self.folder_path):
            print(f"Error: The folder {self.folder_path} does not exist.")
            return
        
        # Get all JSON files from the folder
        json_files = [f for f in os.listdir(self.folder_path) if f.endswith('.json')]
        
        # If no JSON files are found in the folder
        if not json_files:
            print(f"Error: No JSON files found in the folder {self.folder_path}.")
            return
        
        # Iterate over each JSON file in the folder
        for json_file in json_files:
            try:
                file_path = os.path.join(self.folder_path, json_file)
                with open(file_path, 'r') as file:
                    data = json.load(file)
                    
                    season = data['info'].get('season', 'N/A')  
                    city = data['info'].get('city', 'N/A')
                    venue = data['info'].get('venue', 'N/A')
                    date = data['info']['dates'][0] if 'dates' in data['info'] else 'N/A'
                    match_type = data['info'].get('match_type', 'N/A')
                    match_type_number = data['info'].get('match_type_number','N/A')
                    teams = data['info'].get('teams', [])
                    toss_winner = data['info']['toss'].get('winner', 'N/A') if 'toss' in data['info'] else 'N/A'
                    toss_decision = data['info']['toss'].get('decision', 'N/A') if 'toss' in data['info'] else 'N/A'
                    #outcome = f"Winner: {data['info'].get('outcome', {}).get('winner', 'N/A')}, By {data['info'].get('outcome', {}).get('by', {}).get('runs', 0)} runs"
                    outcome_by_runs = data['info']['outcome']['by'].get('runs', 'N/A') if 'by' in data['info']['outcome'] else 'N/A'
                    outcome_by_wickets = data['info']['outcome']['by'].get('wickets', 'N/A') if 'by' in data['info']['outcome'] else 'N/A'
                    winner = data['info']['outcome'].get('winner','N/A')
                    player_of_match = data['info'].get('player_of_match', [])
                    target= data['innings'][1].get('target', {}).get('runs', 'N/A')       
                    innings = data.get('innings', [])
                    
                    match = CricketMatch(season, city, venue, date, match_type, match_type_number, teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, winner, player_of_match, target, innings)
                    self.matches.append(match)
                    
            except PermissionError:
                print(f"Error: Permission denied while trying to open the file {json_file}. Please check your file permissions.")
            except Exception as e:
                print(f"An unexpected error occurred with file {json_file}: {e}")

    def to_dataframe(self):
        # Convert list of CricketMatch objects to a pandas DataFrame for match data
        match_data = [match.to_dict() for match in self.matches]
        match_df = pd.DataFrame(match_data)
        
        # Convert innings data to a DataFrame
        innings_data = []
        for match in self.matches:
            innings_data.extend(match.innings_to_dict())
        innings_df = pd.DataFrame(innings_data)
        
        return match_df, innings_df

In [147]:
folder_path = 'C:/Users/Sajiv/Documents/Cricket/t20'  # Replace with the path to your folder containing JSON files

# Print the current working directory to help with debugging
print(f"Current working directory: {os.getcwd()}")

loader = CricketDataLoader(folder_path)
loader.load_data()

# Check if data was loaded successfully before creating the DataFrames
if loader.matches:
    match_df, innings_df = loader.to_dataframe()

    # Displaying the DataFrames
    print("\nMatch DataFrame:")
    print(match_df)

    print("\nInnings DataFrame:")
    print(innings_df)
else:
    print("No data loaded. Please check the error messages above.")

Current working directory: c:\Users\Sajiv\Documents\Cricket\Notebook
An unexpected error occurred with file 1115799.json: list index out of range
An unexpected error occurred with file 1123209.json: list index out of range
An unexpected error occurred with file 1141835.json: list index out of range
An unexpected error occurred with file 1144991.json: list index out of range
An unexpected error occurred with file 1157710.json: list index out of range
An unexpected error occurred with file 1173066.json: list index out of range
An unexpected error occurred with file 1185187.json: list index out of range
An unexpected error occurred with file 1186492.json: list index out of range
An unexpected error occurred with file 1198244.json: list index out of range
An unexpected error occurred with file 1233956.json: list index out of range
An unexpected error occurred with file 1249240.json: list index out of range
An unexpected error occurred with file 1263164.json: list index out of range
An unexpected error occurred with file 1263166.json: list index out of range
An unexpected error occurred with file 1263167.json: list index out of range
An unexpected error occurred with file 1263573.json: list index out of range
An unexpected error occurred with file 1263621.json: list index out of range
An unexpected error occurred with file 1278691.json: list index out of range
An unexpected error occurred with file 1317149.json: list index out of range
An unexpected error occurred with file 1317635.json: list index out of range
An unexpected error occurred with file 1320192.json: list index out of range
An unexpected error occurred with file 1320193.json: list index out of range
An unexpected error occurred with file 1320210.json: list index out of range
An unexpected error occurred with file 1339617.json: list index out of range
An unexpected error occurred with file 1343742.json: list index out of range
An unexpected error occurred with file 1343743.json: list index out of range
An unexpected error occurred with file 1343758.json: list index out of range
An unexpected error occurred with file 1343767.json: list index out of range
An unexpected error occurred with file 1344515.json: list index out of range
An unexpected error occurred with file 1349127.json: list index out of range
An unexpected error occurred with file 1349387.json: list index out of range
An unexpected error occurred with file 1349389.json: list index out of range
An unexpected error occurred with file 1354799.json: list index out of range
An unexpected error occurred with file 1388214.json: list index out of range
An unexpected error occurred with file 1391709.json: list index out of range
An unexpected error occurred with file 1392352.json: list index out of range
An unexpected error occurred with file 1394770.json: list index out of range
An unexpected error occurred with file 1398255.json: list index out of range
An unexpected error occurred with file 1407094.json: list index out of range
An unexpected error occurred with file 1407719.json: list index out of range
An unexpected error occurred with file 1415706.json: list index out of range
An unexpected error occurred with file 1422042.json: list index out of range
An unexpected error occurred with file 1423440.json: list index out of range
An unexpected error occurred with file 1423460.json: list index out of range
An unexpected error occurred with file 1424829.json: list index out of range
An unexpected error occurred with file 1433377.json: list index out of range
An unexpected error occurred with file 1434292.json: list index out of range
An unexpected error occurred with file 1444549.json: list index out of range
An unexpected error occurred with file 1446762.json: list index out of range
An unexpected error occurred with file 533282.json: list index out of range
An unexpected error occurred with file 566927.json: list index out of range
An unexpected error occurred with file 640955.json: list index out of range
An unexpected error occurred with file 730293.json: list index out of range
An unexpected error occurred with file 951319.json: list index out of range

Match DataFrame:
       season         city                                    venue  \
0     2016/17          N/A                 Melbourne Cricket Ground
1     2016/17     Victoria           Simonds Stadium, South Geelong
2     2016/17          N/A                            Adelaide Oval
3        2016  Londonderry        Bready Cricket Club, Magheramason
4        2016          N/A                       Harare Sports Club
...       ...          ...                                      ...
3935  2015/16       Mirpur            Shere Bangla National Stadium
3936  2015/16       Mirpur            Shere Bangla National Stadium
3937  2015/16        Dubai                              ICC Academy
3938     2016          N/A  Pallekele International Cricket Stadium
3939     2016      Colombo                      R Premadasa Stadium

            date match_type  match_type_number  \
0     2017-02-17        T20                596
1     2017-02-19        T20                597
2     2017-02-22        T20                598
3     2016-09-05        T20                564
4     2016-06-18        T20                558
...          ...        ...                ...
3935  2016-03-04        T20                518
3936  2016-03-06        T20                521
3937  2016-02-03        T20                490
3938  2016-09-06        T20                565
3939  2016-09-09        T20                567

                                  teams           toss_winner toss_decision  \
0                  Australia, Sri Lanka             Sri Lanka         field
1                  Australia, Sri Lanka             Sri Lanka         field
2                  Australia, Sri Lanka             Sri Lanka         field
3                    Ireland, Hong Kong             Hong Kong           bat
4                       Zimbabwe, India                 India         field
...                                 ...                   ...           ...
3935                Pakistan, Sri Lanka              Pakistan         field
3936                  Bangladesh, India                 India         field
3937  United Arab Emirates, Netherlands  United Arab Emirates         field
3938               Sri Lanka, Australia             Sri Lanka         field
3939               Sri Lanka, Australia             Sri Lanka           bat

     outcome_by_runs outcome_by_wickets       winner   player_of_match target
0                N/A                  5    Sri Lanka     DAS Gunaratne    169
1                N/A                  2    Sri Lanka     DAS Gunaratne    174
2                 41                N/A    Australia           A Zampa    188
3                 40                N/A    Hong Kong                      170
4                  2                N/A     Zimbabwe      E Chigumbura    171
...              ...                ...          ...               ...    ...
3935             N/A                  6     Pakistan        Umar Akmal    151
3936             N/A                  8        India          S Dhawan    121
3937              84                N/A  Netherlands  Mudassar Bukhari    158
3938              85                N/A    Australia        GJ Maxwell    264
3939             N/A                  4    Australia        GJ Maxwell    129

[3940 rows x 14 columns]

Innings DataFrame:
         season  match_type_number       team  over     batter        bowler  \
0       2016/17                596  Australia     0   AJ Finch    SL Malinga
1       2016/17                596  Australia     0   AJ Finch    SL Malinga
2       2016/17                596  Australia     0   AJ Finch    SL Malinga
3       2016/17                596  Australia     0  M Klinger    SL Malinga
4       2016/17                596  Australia     0  M Klinger    SL Malinga
...         ...                ...        ...   ...        ...           ...
900137     2016                567  Australia    17    TM Head  SS Pathirana
900138     2016                567  Australia    17  PM Nevill  SS Pathirana
900139     2016                567  Australia    17    TM Head  SS Pathirana
900140     2016                567  Australia    17    TM Head  SS Pathirana
900141     2016                567  Australia    17    TM Head  SS Pathirana

        runs_batter  runs_extras  runs_total non_striker
0                 0            0           0   M Klinger
1                 0            0           0   M Klinger
2                 1            0           1   M Klinger
3                 2            0           2    AJ Finch
4                 0            0           0    AJ Finch
...             ...          ...         ...         ...
900137            1            0           1   PM Nevill
900138            3            0           3     TM Head
900139            0            0           0   PM Nevill
900140            0            0           0   PM Nevill
900141            6            0           6   PM Nevill

[900142 rows x 10 columns]

In [148]:
match_df

,season,city,venue,date,match_type,match_type_number,teams,toss_winner,toss_decision,outcome_by_runs,outcome_by_wickets,winner,player_of_match,target
0,2016/17,N/A,Melbourne Cricket Ground,2017-02-17,T20,596,"Australia, Sri Lanka",Sri Lanka,field,N/A,5,Sri Lanka,DAS Gunaratne,169
1,2016/17,Victoria,"Simonds Stadium, South Geelong",2017-02-19,T20,597,"Australia, Sri Lanka",Sri Lanka,field,N/A,2,Sri Lanka,DAS Gunaratne,174
2,2016/17,N/A,Adelaide Oval,2017-02-22,T20,598,"Australia, Sri Lanka",Sri Lanka,field,41,N/A,Australia,A Zampa,188
3,2016,Londonderry,"Bready Cricket Club, Magheramason",2016-09-05,T20,564,"Ireland, Hong Kong",Hong Kong,bat,40,N/A,Hong Kong,,170
4,2016,N/A,Harare Sports Club,2016-06-18,T20,558,"Zimbabwe, India",India,field,2,N/A,Zimbabwe,E Chigumbura,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3935,2015/16,Mirpur,Shere Bangla National Stadium,2016-03-04,T20,518,"Pakistan, Sri Lanka",Pakistan,field,N/A,6,Pakistan,Umar Akmal,151
3936,2015/16,Mirpur,Shere Bangla National Stadium,2016-03-06,T20,521,"Bangladesh, India",India,field,N/A,8,India,S Dhawan,121
3937,2015/16,Dubai,ICC Academy,2016-02-03,T20,490,"United Arab Emirates, Netherlands",United Arab Emirates,field,84,N/A,Netherlands,Mudassar Bukhari,158
3938,2016,N/A,Pallekele International Cricket Stadium,2016-09-06,T20,565,"Sri Lanka, Australia",Sri Lanka,field,85,N/A,Australia,GJ Maxwell,264
3939,2016,Colombo,R Premadasa Stadium,2016-09-09,T20,567,"Sri Lanka, Australia",Sri Lanka,bat,N/A,4,Australia,GJ Maxwell,129

In [149]:
match_df[match_df['target']=='N/A']

,season,city,venue,date,match_type,match_type_number,teams,toss_winner,toss_decision,outcome_by_runs,outcome_by_wickets,winner,player_of_match,target
280,2019,Derry,Bready,2019-07-14,T20,831,"Ireland, Zimbabwe",Zimbabwe,field,N/A,8,Zimbabwe,,N/A
524,2019,Hamilton,Bermuda National Stadium,2019-08-22,T20,861,"United States of America, Bermuda",Bermuda,field,N/A,4,Bermuda,DAP Darrell,N/A
731,2020/21,Ahmedabad,Narendra Modi Stadium,2021-03-12,T20,1131,"India, England",England,field,N/A,8,England,JC Archer,N/A
1837,2022/23,N/A,Tafawa Balewa Square (TBS) Cricket Oval,2023-03-27,T20,1390,"Rwanda, Ghana",Ghana,field,117,N/A,Rwanda,H Ishimwe,N/A
2273,2023/24,N/A,San Albano,2023-10-14,T20,1684,"Argentina, Chile",Chile,field,281,N/A,Argentina,,N/A
2274,2023/24,N/A,San Albano,2023-10-15,T20,1686,"Argentina, Chile",Argentina,bat,311,N/A,Argentina,,N/A
2282,2023/24,N/A,St Georges Quilmes,2023-10-18,T20,2320,"Chile, Mexico",Chile,bat,N/A,5,Mexico,Shashikant Laxman,N/A
2283,2023/24,N/A,St Georges Quilmes,2023-10-19,T20,2322,"Mexico, Argentina",Argentina,field,N/A,4,Argentina,T Rossi,N/A
2284,2023/24,N/A,St Georges Quilmes,2023-10-20,T20,2323,"Chile, Argentina",Chile,bat,N/A,10,Argentina,Lucas Rossi,N/A
2852,2024,Krefeld,Bayer Uerdingen Cricket Ground,2024-07-09,T20,2744,"Slovenia, Norway",Slovenia,bat,N/A,8,Norway,Raza Iqbal,N/A
3692,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-21,T20,378,"India, Pakistan",India,field,N/A,7,India,A Mishra,N/A
3693,2013/14,Chittagong,Zahur Ahmed Chowdhury Stadium,2014-03-22,T20,379,"South Africa, Sri Lanka",Sri Lanka,bat,5,N/A,Sri Lanka,MDKJ Perera,N/A
3695,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-23,T20,381,"Australia, Pakistan",Australia,field,16,N/A,Pakistan,Umar Akmal,N/A
3696,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-23,T20,382,"India, West Indies",India,field,N/A,7,India,A Mishra,N/A
3697,2013/14,Chittagong,Zahur Ahmed Chowdhury Stadium,2014-03-24,T20,383,"New Zealand, South Africa",New Zealand,field,2,N/A,South Africa,JP Duminy,N/A
3699,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-25,T20,385,"Bangladesh, West Indies",Bangladesh,field,73,N/A,West Indies,DR Smith,N/A
3701,2013/14,Chittagong,Zahur Ahmed Chowdhury Stadium,2014-03-27,T20,387,"England, Sri Lanka",England,field,N/A,6,England,AD Hales,N/A
3702,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-28,T20,388,"Australia, West Indies",Australia,bat,N/A,6,West Indies,DJG Sammy,N/A
3703,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-28,T20,389,"Bangladesh, India",India,field,N/A,8,India,R Ashwin,N/A
3705,2013/14,Chittagong,Zahur Ahmed Chowdhury Stadium,2014-03-29,T20,391,"England, South Africa",England,field,3,N/A,South Africa,AB de Villiers,N/A
3706,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-30,T20,392,"Bangladesh, Pakistan",Pakistan,bat,50,N/A,Pakistan,Ahmed Shehzad,N/A
3707,2013/14,Mirpur,Shere Bangla National Stadium,2014-03-30,T20,393,"Australia, India",Australia,field,73,N/A,India,R Ashwin,N/A
3709,2013/14,Chittagong,Zahur Ahmed Chowdhury Stadium,2014-03-31,T20,395,"New Zealand, Sri Lanka",New Zealand,field,59,N/A,Sri Lanka,HMRKB Herath,N/A
3802,2015,Belfast,"Civil Service Cricket Club, Stormont",2015-07-13,T20,436,"Nepal, Ireland",Ireland,field,N/A,8,Ireland,KJ O'Brien,N/A
3893,2015/16,Mohali,"Punjab Cricket Association IS Bindra Stadium, ...",2016-03-20,T20,348,"Sri Lanka, Ireland",Sri Lanka,bat,14,N/A,Sri Lanka,CJ Metcalfe,N/A

In [150]:
match_df.to_csv("C:/Users/Sajiv/Documents/Cricket/T20_set/T20_match_info.csv")

In [151]:
innings_df

,season,match_type_number,team,over,batter,bowler,runs_batter,runs_extras,runs_total,non_striker
0,2016/17,596,Australia,0,AJ Finch,SL Malinga,0,0,0,M Klinger
1,2016/17,596,Australia,0,AJ Finch,SL Malinga,0,0,0,M Klinger
2,2016/17,596,Australia,0,AJ Finch,SL Malinga,1,0,1,M Klinger
3,2016/17,596,Australia,0,M Klinger,SL Malinga,2,0,2,AJ Finch
4,2016/17,596,Australia,0,M Klinger,SL Malinga,0,0,0,AJ Finch
...,...,...,...,...,...,...,...,...,...,...
900137,2016,567,Australia,17,TM Head,SS Pathirana,1,0,1,PM Nevill
900138,2016,567,Australia,17,PM Nevill,SS Pathirana,3,0,3,TM Head
900139,2016,567,Australia,17,TM Head,SS Pathirana,0,0,0,PM Nevill
900140,2016,567,Australia,17,TM Head,SS Pathirana,0,0,0,PM Nevill
900141,2016,567,Australia,17,TM Head,SS Pathirana,6,0,6,PM Nevill

In [152]:
innings_df.to_csv("C:/Users/Sajiv/Documents/Cricket/T20_set/T20_innings.csv")