In [3]:
import mysql.connector

In [7]:
import pandas as pd

In [19]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root"
)

In [20]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Cricket_match_analysis")

In [21]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root",
    database="Cricket_match_analysis"
)
mycursor = mydb.cursor()

In [22]:
#Creating T20_international table

In [23]:
mycursor.execute("CREATE TABLE T20_int_info(season VARCHAR(20), city VARCHAR(100), venue VARCHAR(100), date DATE, match_type VARCHAR(10), match_type_number INT, \
                 teams VARCHAR(100), toss_winner VARCHAR(100), toss_decision VARCHAR(100), outcome_by_runs FLOAT, outcome_by_wickets FLOAT, \
                 winner VARCHAR(100), player_of_match VARCHAR(100), target FLOAT)")

mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('t20_int_info',)

In [24]:
import pandas as pd
T20info_data = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/T20_set/T20_match_info.csv")

In [25]:
T20info_data= T20info_data.where(pd.notnull(T20info_data), None)

In [26]:
from datetime import datetime
for index, row in T20info_data.iterrows():

    date_str = row['date']
    formatted_date = datetime.strptime(date_str, "%d-%m-%Y").strftime("%Y-%m-%d") if pd.notna(date_str) else None

In [27]:
insert_query = "INSERT INTO Cricket_match_analysis.T20_int_info(season, city, venue, date, match_type, match_type_number, \
                 teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, \
                 winner, player_of_match, target) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [28]:
for index, row in T20info_data.iterrows():
    mycursor.execute(insert_query, (
        row['season'], 
        row['city'] if pd.notna(row['city']) else None, 
        row['venue'], 
        formatted_date, 
        row['match_type'],
        row['match_type_number'], 
        row['teams'], 
        row['toss_winner'], 
        row['toss_decision'],
        row['outcome_by_runs'] if pd.notna(row['outcome_by_runs']) else None, 
        row['outcome_by_wickets'] if pd.notna(row['outcome_by_wickets']) else None, 
        row['winner'] if pd.notna(row['winner']) else None,
        row['player_of_match'] if pd.notna(row['player_of_match']) else None, 
        row['target'] if pd.notna(row['target']) else None
    ))

In [29]:
#Creating T20_international innings table

In [30]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root",
    database="Cricket_match_analysis"
)
mycursor = mydb.cursor()

In [31]:
mycursor.execute("CREATE TABLE T20_int_inn(season VARCHAR(20), match_type_number INT, team VARCHAR(100), overs INT, batter VARCHAR(100), bowler VARCHAR(100), runs_batter INT, \
                 runs_extras INT, runs_total INT, non_striker VARCHAR(50))")

In [32]:
T20int_inn = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/T20_set/T20_innings.csv")

In [33]:
insert_query = "INSERT INTO Cricket_match_analysis.T20_int_inn(season, match_type_number, team, overs, batter, bowler, runs_batter, \
                 runs_extras, runs_total, non_striker) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [34]:
for index, row in T20int_inn.iterrows():
    mycursor.execute(insert_query, (
        row['season'], 
        row['match_type_number'], 
        row['team'], 
        row['overs'], 
        row['batter'],
        row['bowler'], 
        row['runs_batter'], 
        row['runs_extras'],
        row['runs_total'], 
        row['non_striker']
))

In [35]:
#Creating IPL_info table

In [36]:
mycursor.execute("CREATE TABLE IPL_info(season VARCHAR(20), city VARCHAR(100), venue VARCHAR(100), date DATE, match_type VARCHAR(10), match_number INT, \
                 teams VARCHAR(100), toss_winner VARCHAR(100), toss_decision VARCHAR(100), outcome_by_runs FLOAT, outcome_by_wickets FLOAT, \
                 winner VARCHAR(100), player_of_match VARCHAR(100), target FLOAT)")

In [37]:
IPL_data = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/IPL_set/IPL_match_info.csv")
IPL_data = IPL_data.where(pd.notnull(IPL_data), None)

In [43]:
from datetime import datetime
for index, row in IPL_data.iterrows():

    date_str = row['date']
    formatted_date = datetime.strptime(date_str, "%d-%m-%Y").strftime("%Y-%m-%d") if pd.notna(date_str) else None

In [38]:
insert_query = "INSERT INTO Cricket_match_analysis.IPL_info(season, city, venue, date, match_type, match_number, \
                 teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, \
                 winner, player_of_match, target) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [47]:
for index, row in IPL_data.iterrows():
    mycursor.execute(insert_query, (
        row['season'] if pd.notna(row['season']) else None, 
        row['city'] if pd.notna(row['city']) else None, 
        row['venue'] if pd.notna(row['venue']) else None,  
        formatted_date, 
        row['match_type'] if pd.notna(row['match_type']) else None,
        row['match_number'] if pd.notna(row['match_number']) else None,
        row['teams'] if pd.notna(row['teams']) else None,
        row['toss_winner'] if pd.notna(row['toss_winner']) else None,
        row['toss_decision'] if pd.notna(row['toss_decision']) else None,
        row['outcome_by_runs'] if pd.notna(row['outcome_by_runs']) else None, 
        row['outcome_by_wickets'] if pd.notna(row['outcome_by_wickets']) else None, 
        row['winner'] if pd.notna(row['winner']) else None,
        row['player_of_match'] if pd.notna(row['player_of_match']) else None, 
        row['target'] if pd.notna(row['target']) else None
    ))

In [ ]:
#Creating IPL_inn table

In [48]:
mycursor.execute("CREATE TABLE ipl_inn(season VARCHAR(20), match_number INT, team VARCHAR(100), overs INT, batter VARCHAR(100), bowler VARCHAR(100), runs_batter INT, \
                 runs_extras INT, runs_total INT, non_striker VARCHAR(50))")

In [50]:
IPL_inn = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/IPL_set/IPL_innings.csv")

C:\Users\Sajiv\AppData\Local\Temp\ipykernel_13492\3374999426.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  IPL_inn = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/IPL_set/IPL_innings.csv")

In [51]:
insert_query = "INSERT INTO Cricket_match_analysis.ipl_inn(season, match_number, team, overs, batter, bowler, runs_batter, \
                 runs_extras, runs_total, non_striker) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [53]:
for index, row in IPL_inn.iterrows():
    mycursor.execute(insert_query, (
        row['season'] if pd.notna(row['season']) else None, 
        row['match_number'] if pd.notna(row['match_number']) else None, 
        row['team'] if pd.notna(row['team']) else None, 
        row['overs'] if pd.notna(row['overs']) else None, 
        row['batter'] if pd.notna(row['batter']) else None,
        row['bowler'] if pd.notna(row['bowler']) else None, 
        row['runs_batter'] if pd.notna(row['runs_batter']) else None, 
        row['runs_extras'] if pd.notna(row['runs_extras']) else None,
        row['runs_total'] if pd.notna(row['runs_total']) else None, 
        row['non_striker'] if pd.notna(row['non_striker']) else None
))

In [54]:
#Creating ODI_info table

In [55]:
mycursor.execute("CREATE TABLE ODI_info(season VARCHAR(20), city VARCHAR(100), venue VARCHAR(100), date DATE, match_type VARCHAR(10), match_type_number INT, \
                 teams VARCHAR(100), toss_winner VARCHAR(100), toss_decision VARCHAR(100), outcome_by_runs FLOAT, outcome_by_wickets FLOAT, \
                 winner VARCHAR(100), player_of_match VARCHAR(100), target FLOAT)")

In [56]:
ODI_data = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/ODI_set/ODI_match_info.csv")

In [57]:
ODI_data= ODI_data.where(pd.notnull(ODI_data), None)

In [59]:
insert_query = "INSERT INTO Cricket_match_analysis.ODI_info(season, city, venue, date, match_type, match_type_number, \
                 teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, \
                 winner, player_of_match, target) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [60]:
for index, row in ODI_data.iterrows():
    mycursor.execute(insert_query, (
        row['season'], 
        row['city'] if pd.notna(row['city']) else None, 
        row['venue'], 
        row['date'], 
        row['match_type'],
        row['match_type_number'], 
        row['teams'], 
        row['toss_winner'], 
        row['toss_decision'],
        row['outcome_by_runs'] if pd.notna(row['outcome_by_runs']) else None, 
        row['outcome_by_wickets'] if pd.notna(row['outcome_by_wickets']) else None, 
        row['winner'] if pd.notna(row['winner']) else None,
        row['player_of_match'] if pd.notna(row['player_of_match']) else None, 
        row['target'] if pd.notna(row['target']) else None
    ))

In [61]:
#Creating ODI_inn table

In [65]:
mycursor.execute("CREATE TABLE ODI_inn(season VARCHAR(20), match_type_number INT, team VARCHAR(100), overs INT, batter VARCHAR(100), bowler VARCHAR(100), runs_batter INT, \
                 runs_extras INT, runs_total INT, non_striker VARCHAR(50))")

In [66]:
ODI_inn = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/ODI_set/ODI_innings.csv")

In [67]:
insert_query = "INSERT INTO Cricket_match_analysis.ODI_inn(season, match_type_number, team, overs, batter, bowler, runs_batter, \
                 runs_extras, runs_total, non_striker) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [68]:
for index, row in ODI_inn.iterrows():
    mycursor.execute(insert_query, (
        row['season'] if pd.notna(row['season']) else None, 
        row['match_type_number'] if pd.notna(row['match_type_number']) else None, 
        row['team'] if pd.notna(row['team']) else None, 
        row['overs'] if pd.notna(row['overs']) else None, 
        row['batter'] if pd.notna(row['batter']) else None,
        row['bowler'] if pd.notna(row['bowler']) else None, 
        row['runs_batter'] if pd.notna(row['runs_batter']) else None, 
        row['runs_extras'] if pd.notna(row['runs_extras']) else None,
        row['runs_total'] if pd.notna(row['runs_total']) else None, 
        row['non_striker'] if pd.notna(row['non_striker']) else None
))

In [69]:
#Creating Test_info table

In [4]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root",
    database="Cricket_match_analysis"
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute("CREATE TABLE Test_info(season VARCHAR(20), city VARCHAR(100), venue VARCHAR(100), date DATE, match_type VARCHAR(10), match_type_number INT, \
                 teams VARCHAR(100), toss_winner VARCHAR(100), toss_decision VARCHAR(100), outcome_by_runs FLOAT, outcome_by_wickets FLOAT, draw_outcome VARCHAR(20), \
                 winner VARCHAR(100), player_of_match VARCHAR(100), target FLOAT)")

In [8]:
Test_data = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/Test_set/Test_match_info.csv")

In [9]:
Test_data= Test_data.where(pd.notnull(Test_data), None)

In [10]:
insert_query = "INSERT INTO Cricket_match_analysis.Test_info(season, city, venue, date, match_type, match_type_number, \
                 teams, toss_winner, toss_decision, outcome_by_runs, outcome_by_wickets, draw_outcome, \
                 winner, player_of_match, target) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [12]:
from datetime import datetime
for index, row in Test_data.iterrows():

    date_str = row['date']
    formatted_date = datetime.strptime(date_str, "%d-%m-%Y").strftime("%Y-%m-%d") if pd.notna(date_str) else None

In [14]:
for index, row in Test_data.iterrows():
    mycursor.execute(insert_query, (
        row['season'], 
        row['city'] if pd.notna(row['city']) else None, 
        row['venue'], 
        formatted_date, 
        row['match_type'],
        row['match_type_number'], 
        row['teams'], 
        row['toss_winner'], 
        row['toss_decision'],
        row['outcome_by_runs'] if pd.notna(row['outcome_by_runs']) else None, 
        row['outcome_by_wickets'] if pd.notna(row['outcome_by_wickets']) else None, 
        row['draw_outcome'] if pd.notna(row['draw_outcome']) else None,
        row['winner'] if pd.notna(row['winner']) else None,
        row['player_of_match'] if pd.notna(row['player_of_match']) else None, 
        row['target'] if pd.notna(row['target']) else None
    ))

In [15]:
#Creating Test_inn table

In [16]:
mycursor.execute("CREATE TABLE Test_inn(season VARCHAR(20), match_type_number INT, team VARCHAR(100), overs INT, batter VARCHAR(100), bowler VARCHAR(100), runs_batter INT, \
                 runs_extras INT, runs_total INT, non_striker VARCHAR(50))")

In [17]:
Test_inn = pd.read_csv("C:/Users/Sajiv/Documents/Cricket/Test_set/Test_innings.csv")

In [18]:
insert_query = "INSERT INTO Cricket_match_analysis.Test_inn(season, match_type_number, team, overs, batter, bowler, runs_batter, \
                 runs_extras, runs_total, non_striker) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [19]:
for index, row in Test_inn.iterrows():
    mycursor.execute(insert_query, (
        row['season'] if pd.notna(row['season']) else None, 
        row['match_type_number'] if pd.notna(row['match_type_number']) else None, 
        row['team'] if pd.notna(row['team']) else None, 
        row['overs'] if pd.notna(row['overs']) else None, 
        row['batter'] if pd.notna(row['batter']) else None,
        row['bowler'] if pd.notna(row['bowler']) else None, 
        row['runs_batter'] if pd.notna(row['runs_batter']) else None, 
        row['runs_extras'] if pd.notna(row['runs_extras']) else None,
        row['runs_total'] if pd.notna(row['runs_total']) else None, 
        row['non_striker'] if pd.notna(row['non_striker']) else None
))

In [20]:
mydb.commit()

mycursor.close()
mydb.close()